/****************************************
* Simple Template Example
* @author: rlewis37@cnm.edu
*****************************************/

/****************************************
* Utility Styles
*****************************************/
.p-t-50 {
	padding-top: 50px;
}

.vertical-center {
	display: flex;
	align-items: center;
}

/****************************************
* Home Page - Welcome
*****************************************/
.welcome {
	background: url("../images/dog.jpg") no-repeat bottom center;
	background-size: cover;
	min-height: 400px;
}

.welcome .jumbotron {
	background: transparent;
	border: 1px solid rgba(255,255,255,0.4);
	border-radius: 0;
	color: #fff;
	margin: 8rem 0;
	color: black;
}

.welcome .jumbotron > h1 {
	text-shadow: 2px 2px 0 #fff;
}

/****************************************
* Home Page - Featurette section
*****************************************/
.home-features {
	padding: 8rem 0;
}

.featurette {
	border: 1px solid #222;
	padding: 4rem;
	margin-bottom: 1rem;
}

.featurette > p {
	margin: 0;
}

/****************************************
* Content Page Layout
*****************************************/
main > h1 {
	margin: 4rem 0;
	padding: 2rem;
	border-left: 5px solid #ddd;
}

main > .row {
	padding-bottom: 5rem;
}

/****************************************
* Footer
*****************************************/
footer {
	background-color: darkslategray;
	color: #fff;
	padding: 5rem 0;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/********************************************
* Flexbox Column Height Control
* Equal height content boxes using Flexbox CSS
*
* Author: rlewis37
********************************************/

/*
* add the class "row-flex" to each row that
* houses columns that need to be equal height
*
* this example is set to work on the MD breakpoint
* adjust @media query min-width if necessary
*/

.row-flex > div[class*="col-"] {
	margin-bottom: 5px;
}

/* use the min-width of the appropriate breakpoint (this is set on md and lg)*/
@media only screen and (min-width: 768px) {
	.row-flex {
		display: flex;
		flex: 1 1 auto;
		-webkit-flex-flow: row wrap;
		align-content: flex-start;
	}

	.row-flex > div[class*="col-"] {
		display: flex;
		flex: 1 1 auto;
		margin: -.2px;
	}
}